$primary-color: rgb(243, 252, 201);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: $primary-color;
	color: #fff;
	line-height: 1.5;
}

ul {
	list-style: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-areas: "head"
					     "content"
						 "foot";
	height: 100vh;
}

#title-auth{
	font-size: 1em;
	text-align: center;
	margin: 0.5vh;
}

#title-token{
	color: rgb(0, 0, 0);
	font-size: 1em;
	text-align: center;
	margin: 0.5vh;
}

#page-content {
	grid-area: content;
	text-align: center;
	background: $primary-color;
	display: grid;
	grid-template-columns: auto minmax(auto, 700px) auto;
	grid-template-rows: 1fr;
	grid-template-areas: ". auth-employee-content .";
}

#auth-employee-content{ 
	grid-area: auth-employee-content;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: " . "
						 " token-wrapper "
						 ". ";
	background-color: #fff;
	border-radius: 25px;
	margin: 2vh;
	padding-top: 3vh;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 5vh;
}

#token-wrapper{
	grid-area: token-wrapper;
	
}

input[type=text] {
	text-align: center;
	font-size: 2rem;
	width: 100%;
	padding: 2% 2%;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	text-align: center;
	font-size: 2rem;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 2% 2%;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

#page-header {
	grid-area: head;
	background: rgb(83, 242, 91);
	border-radius: 10px;
	margin: 1vh;
}

#page-footer{
	grid-area: foot;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin: 1vh;
}

#footer{
	text-align: center;
	margin: 1.5vh;
	font-size: 2vh;
}
