$primary-color: rgb(243, 252, 201);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: $primary-color;
	color: #fff;
	line-height: 1.5;
}

ul {
	list-style: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-areas: "head"
					     "content"
						 "foot";
	height: 100vh;
}

#title{
	font-size: 1em;
	text-align: center;
	margin: 0.5vh;
}
#title-selector{
    color:rgb(0, 0, 0);
	font-size: 1.5vh;
	text-align: center;
	margin: 0.5vh;
}

#page-content {
	grid-area: content;
	text-align: center;
	background: $primary-color;
	display: grid;
	grid-template-columns: auto minmax(auto, 700px) auto;
	grid-template-rows: 1fr;
	grid-template-areas: ". selector-content .";
}

#selector-content{ 
	grid-area: selector-content;
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 10vh auto;
	background-color: #fff;
	border-radius: 25px;
	margin: 2vh;
	padding-top: 3vh;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 5vh;
}

a {
    text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 3% 3%;
	margin: auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a:hover {
	background-color: #45a049;
}

#page-header {
	grid-area: head;
	background: rgb(83, 242, 91);
	border-radius: 10px;
	margin: 1vh;
}

#page-footer{
	grid-area: foot;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin: 1vh;
}

#footer{
	text-align: center;
	margin: 1.5vh;
	font-size: 2vh;
}
