$primary-color: rgb(243, 252, 201);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: $primary-color;
	color: #fff;
	line-height: 1.5;
}

ul {
	list-style: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-areas: "head"
					     "content"
						 "foot";
	height: 100vh;
}

.title{
	font-size: 1.5vh;
}

#title-administration-dashboard{
	font-size: 2vh;
    text-align: center;
	margin: 0.5vh;
}

#page-content {
	grid-area: content;
	text-align: center;
	background: $primary-color;
	display: grid;
	grid-template-columns: 2vh 3fr 8fr 2vh;
	grid-template-rows: 1fr;
	grid-template-areas: ". administration-menu administration-content .";
}

@media (max-width: 1000px){
	#page-content{
		grid-template-columns: 2vh 1fr 2vh;
		grid-template-rows: 80vh 80vh;
		grid-template-areas: ". administration-menu ."
		                     ". administration-content .";
	}
}

#title-administration-menu{
    color:black;
	margin: 2vh;
    text-align: center;
}

#administration-menu{ 
	grid-area: administration-menu;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh auto;
	background-color: #fff;
	border-radius: 25px;
	margin: 2vh;
	padding-top: 3vh;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 5vh;
}

a {
    text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 3% 3%;
	margin: auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a:hover {
	background-color: #45a049;
}

#administration-content{ 
	grid-area: administration-content;
	background-color: #fff;
	border-radius: 25px;
	margin: 2vh;
	padding-top: 3vh;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 5vh;
}

img {
    width: 80%;
}

#title-scan{
	color:black;
	margin: 2vh;
    text-align: center;
}

#page-header {
	grid-area: head;
	background: rgb(83, 242, 91);
	border-radius: 10px;
	margin: 1vh;
}

#page-footer{
	grid-area: foot;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin: 1vh;
}

#footer{
	text-align: center;
	margin: 1.5vh;
	font-size: 2vh;
}
