body {
  background: rgb(32, 191, 85);
  background: linear-gradient(
    63deg,
    rgba(32, 191, 85, 1) 0%,
    rgba(1, 186, 239, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #000000;
  margin: 0px;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-areas:
    ". . ."
    ". container ."
    ". . .";
  grid-template-rows: 5vh 90vh auto;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: auto 90vw auto;
  }
}

.container {
  background-color: #ffffff;
  grid-area: container;
  border-radius: 25px;
  box-shadow: 5px 5px 25px;
}
