* {
  text-align: center;
}

#map {
  height: 40%;
}

#popup {
  width: 35vh;
  height: 25vh;
  background-color: #ffffff;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 25px;
  z-index: 1000;
  transition: transform 0.1s, top, 0.1s;
  visibility: hidden;
}

.openPopup {
  visibility: visible !important;
  transform: translate(-50%, -50%) scale(1) !important;
}

#statusImg {
  width: 35%;
  margin-top: -18%;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}

select {
  display: block;
  width: 80%;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-weight: bold;
  display: block;
  width: 80%;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  width: 80%;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
  background-color: #5bc590;
  display: block;
  width: 80%;
  font-size: 1.2rem;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  opacity: 0.8;
}

textarea {
  width: 80%;
  height: 12vh;
}

.tag {
  width: 80%;
}

#trashTagSelector {
  display: flex;
}
