.wrapper {
  display: grid;
  grid-template-columns: auto minmax(auto, 60%) auto;
  grid-template-areas:
    ". . ."
    ". landingContainer ."
    ". . .";
  grid-template-rows: 10vh 70vh 19vh;
}

.landingContainer {
  background-color: #ffffff;
  grid-area: landingContainer;
  border-radius: 25px;
  box-shadow: 5px 5px 25px;
}
