html {
  min-height: 100%;
}

body {
  background: rgb(32, 191, 85);
  background: linear-gradient(
    63deg,
    rgba(32, 191, 85, 1) 0%,
    rgba(1, 186, 239, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #000000;
  margin: 0px;
  height: 100vh;
  background-attachment: fixed;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1200px auto;
  gap: 1.5vh;
  grid-template-areas:
    ". . ."
    ". locations ."
    ". locations ."
    ". . .";
  grid-template-rows: 2vh 60vh 30vh 2vh;
}

.container {
  background-color: #ffffff;
  grid-area: container;
  border-radius: 25px;
  box-shadow: 5px 5px 25px;
  text-align: center;
  grid-area: locations;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: auto 90vw auto;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: auto 90vw auto;
  }
}

#buttons {
  margin-top: 2vh;
  display: flex;
}

button {
  cursor: pointer;
  background-color: #5bc590;
  display: block;
  width: 80%;
  font-size: 1.2rem;
  margin-left: 1%;
  margin-right: 1%;
}

button:hover {
  opacity: 0.8;
}

.ticket {
  background-color: #fa9a5b;
  height: 5vh;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.solved {
  background-color: #6051cd !important;
}

.ticket:hover {
  opacity: 0.9;
}

.tags {
  display: flex;
}

.info {
  display: flex;
}

.tag {
  background-color: #15caf6;
  border-radius: 5px;
  margin: 2px;
  font-size: 150%;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.tag:hover {
  opacity: 0.9;
}

.date {
  background-color: #15caf6;
  border-radius: 5px;
  margin: 2px;
  font-size: 150%;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding-left: 5px;
  padding-right: 5px;
}

/* hide scrollbar but allow scrolling */
#tickets {
  height: 60%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

#tickets::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
